<div class="jumbotron">
	
	<h1 class="frontHeading">Two MIT Grads made an algorithm... Sike heres some ad free reddit content!</h1>
<form action="/submit" method="post">
<input class="scrapeButton btn-success" type="submit" name="scrape" value='Scrape "/all"' id="scrapeReddit">
</form>


</div>